<tr>  
  <td><%= line_item.quantity %> &times;</td>
  <td>
  <% if line_item == @current_item %>
    <div id="current_item"> <%= line_item.product.title %></div>
  <% else %>
    <%= line_item.product.title %>
  <% end %>
  </td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to ' ', {:id=> line_item.id, :controller=>'line_items', :action=>'increment', :method=>:post}, :remote => true, :class => "add" %></td>
  <td><%= button_to ' ', {:id=> line_item.id, :controller=>'line_items', :action=>'decrement', :method=>:post}, :remote => true, :class => "sub" %> </td>
  <td><%= button_to " ", line_item, :method => :delete, :remote => true, :class => "del" %></td>
</tr>