<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= stylesheet_link_tag "depot" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="store">
    <div id="banner">
      <%= image_tag("/images/logo.png") %>
      <%= @page_title || "prag book" %>

    </div>
    <div id="columns">
      <div id="side">
        <% if @cart %>
          <div id="cart"

                 <% if @cart.total_items == 0 %>
                   style="display: none"
                 <% end %>

               >

            <%= render(@cart) %>
          </div>
        <% end %>
        <a href="/">Home</a><br/>
        <a href="/faq">Questions</a><br/>
        <a href="/news">News</a><br/>
        <a href="/contact">Contact</a><br/>

        <% if session[:user_id] %>
          <br/>
            <%= link_to 'Orders', orders_path %><br/>
            <%= link_to 'Products', products_path %><br/>
            <%= link_to 'Users', users_path %><br/>
          <br/>
          <%= button_to 'Logout', logout_path, :method => :delete %>
        <% end %>

      </div>

      <div id="main">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
